# BigWigs [Advanced Boss Mods] — gitignore 🛠️⏱️

# WoW Excluidos
*.bak
*.old
*.tmp
*.log

# Workspace & OS
.DS_Store
Thumbs.db
.vscode/

# Database & SavedVariables
BigWigsDB.lua
BigWigsFubarDB.lua
BigWigsCommonAurasDB.lua
BigWigsZombieFoodDB.lua
BigWigsRespawnTimersDB.lua
*.lua.compiled
*.luac

# Archivos de Desarrollo Local
!README.md
!CHANGELOG.md
!LICENSE
!CONTRIBUTING.md
!CODE_OF_CONDUCT.md
!SECURITY.md
!wiki/
LAST_DEPLOY.txt 
deploy_log.txt 
